<div class="button-container">
  <button class="btn btn-success" (click)="showSuccess()">Show Success</button>
  <button class="btn btn-danger" (click)="showConfirmation()">Show Confirm</button>
  <!-- <button class="btn btn-info" (click)="showInfo()">Show Info</button>
  <button class="btn btn-warning" (click)="showWarning()">Show Warning</button>
  <button class="btn btn-primary" (click)="showCustom()">Show Custom</button>
  <button class="btn btn-secondary" (click)="clearToasts()">Clear All</button> -->
</div>